<%= render 'navbar' %>

<div class="container text-center">
<%= image_tag 'cinema.jpg', width: 'cover', alt: 'cinema' %>
<h1>List of Movies</h1>

<h3><%= link_to "All movies", movies_path %></h3>
<%= link_to "Add Movie", new_movie_path(@movies) %>
<%# <%= link_to "Add Bookmark", new_list_bookmark_path(@bookmark) %>
